body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: sans-serif;
    perspective: 500px;
}

.container {
    display: flex;
    justify-content: center;
}

.text {
    padding-top: 15px;
    font-size: 62px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.box {
    width: 300px;
    height: 100px;
    background-color: springgreen;
    margin: 50px 20px;
    cursor: pointer;
}

#box1:hover {
    animation: flipV 1.5s linear;
}

#box2:hover {
    animation: flipH 1.5s linear;
}

@keyframes flipV {
    50%{
        transform: rotateX(360deg);
    }

    to{
        transform: rotateX(720deg);
    }
}

@keyframes flipH {
    50%{
        transform: rotateY(360deg);
    }

    to{
        transform: rotateY(720deg);
    }
}